{
    "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
    "extends": "@react-native-community",
    "rules": {
        "quotes": [2, "double", { "avoidEscape": true }]
   }
}